<p>
  <b>Bus Lines</b>
</p>

<mat-grid-list [cols]="nbColumns" rowHeight="1:1" gutterSize="10px" (window:resize)="onResizeGrid($event)">
  <mat-grid-tile 
      *ngFor="let line of getLines(); let i = index" [attr.data-index]="i" [style.background]="line.couleurligne" 
      [style.color]="line.couleurtexteligne" [style.border-radius]="line.nomfamillecommerciale === 'CHRONOSTAR' ? '0%' : '50%'"
      [style.border]="line.nomfamillecommerciale === 'Inter-quartiers' || line.nomfamillecommerciale === 'Express' ? 'solid' : '0'">
    <mat-icon [matBadge]="line.msgs.length + '!'" matBadgeColor="warn" matBadgeOverlap="false" matBadgePosition="before"
    [matBadgeHidden]="user.profile === undefined || !isFav(line.nomcourt) || line.msgs.length === 0">
      <b>{{line.nomcourt}}</b>
    </mat-icon>
    <div *ngIf="user.profile !== undefined" class="star" [style.color]="line.couleurtexteligne">
      <span [className]="getFavIconClasses(line.nomcourt)" (click)="fav(line.nomcourt)"></span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
